/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
}
.contenitore{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.listino-prodotti{
    
    width: 99%;    
   
}
.prodotto{
    display: inline-block;
    width: 32%;
    
}
.icona-cuore{
    right: 0;
    top: 3%;
    font-size: 35px;
    padding: 15px;
    background-color: white;
    
}
.sconto{
    left: 0;
    bottom: 3%;
    padding:8px;
    background-color: #eb0037;
    color: white;
    font-weight: bolder;
}
.attributo{
    left: 15%;
    bottom: 3%;
    padding: 8px;
    background-color: #00875a;
    color: white;
    font-weight: bolder;
}


   
    
